.cid-u7gQ0TYkoJ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-u7gQ0TYkoJ .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-u7gQ0TYkoJ .social-row .soc-item {
  margin: 8px;
}
.cid-u7gQ0TYkoJ .social-row .soc-item a:hover .mbr-iconfont,
.cid-u7gQ0TYkoJ .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #ffffff;
}
.cid-u7gQ0TYkoJ .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-u7gQ0TYkoJ .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u7gQ0TYkoJ .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-u7gQ0TYkoJ .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-u7gQ0TYkoJ .header-menu li p {
  margin: 0;
}
.cid-u7gQ0TYkoJ .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-u7gQ0TYkoJ .mbr-section-title {
  color: #ffffff;
}
